@{
    ViewBag.Title = "Contact";
}

<div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputtitulo">Titulo</label>
                <input type="text" class="form-control" id="inputtitulo" placeholder="Titulo">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCB">Codigo de Barras(CB)</label>
                <input type="text" class="form-control" id="inputCB" placeholder="CB">
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputfechacirculacion">Fecha de Circulacion</label>
                <input type="date" class="form-control" id="inputfechacirculacion" placeholder="fecha">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCB">Codigo de Barras(CB)</label>
                <input type="text" class="form-control" id="inputCB" placeholder="CB">
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputocreates">Fecha de Creacion</label>
                <input type="datetime" class="form-control" id="inptucreates" placeholder="fecha y hora">
            </div>
            <div class="form-group col-md-6">
                <label for="inputprecio">Precio</label>
                <input type="text" class="form-control" id="inputprecio" placeholder="Precio">
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>

</div>